/* Google Fonts -- Red Hat Display and Fira Code */

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Red+Hat+Display:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');

/* COLORS */

:root {
    /* Color styles */
    --primary--grey: #1E1F1C;
    --white: #FFFFFF;
    --secondary--grey: #272822;
    --codeyellow: #E6DB74;
    --codesand: #CF9F74;
    --codemustard: #E6B422;
    --codegreen: #A6E22E;
    --codeblue: #66D9EF;
    --codewhite: #EAEAE5;
    --codewhitedark: #DCDCD6;
    --codepink: #E8236A;
    --codeorange: #FD971F;
    /* Text-size styles */
    /* base size: default--text (18px) */
    --default--text: 1rem;
    /* Effect styles */
    --card-shadow: 2px 4px 20px rgba(0, 0, 0, 0.25);
}


/* Tailwind CSS */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* for now */

@import "~react-image-gallery/styles/css/image-gallery.css";